@{
    ViewBag.Title = "Anesthesia SOAP";
}

<!-- Banner bar -->
<div id="top">
    @RenderPage("~/Views/Home/Banner.cshtml") 
</div>

<!-- content -->
<div id="tabs">
    <!-- Welcome -->
	<div id="tab-1" class="item">
        @RenderPage("~/Views/Home/Welcome.cshtml") 
    </div>	
    
    <!-- Profile -->

	<!-- Patient Information -->
	<div id="tab-2" class="item">
        @RenderPage("~/Views/Home/PatientInfo.cshtml")
	</div>

	<!--  Clinical findings -->
	<div id="tab-3" class="item">
        @RenderPage("~/Views/Home/ClinicalFindings.cshtml")
	</div>

	<!-- Bloodwork -->
	<div id="tab-4" class="item">
        @RenderPage("~/Views/Home/BloodWork.cshtml")
	</div>
    <!---- Anesthetic PLan---->
    <div id="tab-5" class="item">
        @RenderPage("~/Views/Home/AnestheticPlan.cshtml")
    </div>

    <div id="tab-6" class="item">
        @RenderPage("~/Views/Home/Induction.cshtml")
    </div>

    <div id="tab-7" class="item">
        @RenderPage("~/Views/Home/Maintenance.cshtml")
    </div>
    <div id="tab-8" class="item">
        @RenderPage("~/Views/Home/Monitoring.cshtml")
    </div>

    <div id="tab-9" class="item">
        @RenderPage("~/Views/Home/EmergencyDosage.cshtml")
	</div>
    <div id="tab-9" class="item">
        @RenderPage("~/Views/Home/Administration.cshtml")
    </div>

</div>