@{
    ViewBag.Title = "Anesthesia SOAP";
}
    <div id="top">
        @RenderPage("~/Views/Home/Banner.cshtml") 
    </div>
<div id="tabs">
    <!-- scrollable navigator root element -->
    <!-- Page 0: welcome and emergency dosages -->
	<div id="tab-1" class="item">
        @RenderPage("~/Views/Home/Welcome.cshtml") 
    </div>

	<!-- Page 1, Profile -->
	<div id="tab-2" class="item">
        @RenderPage("~/Views/Home/Profile.cshtml")
	</div>

	<!-- Page 2, Patient Information -->
	<div id="tab-3" class="item">
        @RenderPage("~/Views/Home/PatientInfo.cshtml")
	</div>

	<!-- Page 3, Clinical findings -->
	<div id="tab-4" class="item">
        @RenderPage("~/Views/Home/ClinicalFindings.cshtml")
	</div>

	<!-- Page 4, bloodwork -->
	<div id="tab-5" class="item">
        @RenderPage("~/Views/Home/BloodWork.cshtml")
	</div>
    <!------Page 5, Anesthetic PLan---->
    <div id="tab-6" class="item">
        @RenderPage("~/Views/Home/AnestheticPlan.cshtml")
    </div>

    <div id="tab-7" class="item">
        @RenderPage("~/Views/Home/Maintenance.cshtml")
    </div>
    <div id="tab-8" class="item">
        @RenderPage("~/Views/Home/Monitoring.cshtml")
    </div>
</div>
<div class="navi">
    <div id="thumbs">
		<a id="t1" nav="tab-1" class="active"><div>Home</div></a>
		<a id="t2" nav="tab-2" class="not-active"><div>Anesthetist Profile</div></a>
		<a id="t3" nav="tab-3" class="not-active"><div>Patient Information</div></a>
		<a id="t4" nav="tab-4" class="not-active"><div>Clinical Findings</div></a>
		<a id="t5" nav="tab-5" class="not-active"><div>Blood Work</div></a>
        <a id="t6" nav="tab-6" class="not-active"><div>Anesthesia Plan</div></a>
        <a id="t7" nav="tab-7" class="not-active"><div>Maintenance</div></a>
        <a id="t8" nav="tab-8" class="not-active"><div>Monitoring</div></a>
	</div>
</div>
    <script type="text/javascript">

        $('#thumbs a.not-active').each(function () {
            var tabContent = $(this).attr('nav');
            $('#' + tabContent).css('display', 'none');
        });
        // When a link is clicked
        $("#thumbs a").click(function () {
            // switch previous tabs off
            var prevContent = $('a.active').attr('nav');
            $("a.active").removeClass("active");
            // switch this tab on
            $(this).addClass("active");
            var currentContent = $('a.active').attr('nav');
            $('#' + prevContent).hide('slide',function() {
                $('#' + currentContent).show('slide');            
            });
        });
    </script>